
*.pkl
Credit_Risk_Modelling/LCDataDictionary.xlsx
Credit_Risk_Modelling/LGD_EDA_Test_Clean.csv
Credit_Risk_Modelling/LGD_EDA_Train_Clean.csv
Credit_Risk_Modelling/loan_data_2007_2014.csv
Credit_Risk_Modelling/loan_data_2015.csv
Credit_Risk_Modelling/Processed_Eval.csv
Credit_Risk_Modelling/Processed_Test.csv
Credit_Risk_Modelling/Processed_Train.csv
Credit_Risk_Modelling/score.csv
Cross_Sell_Market_Basket_Analysis/.ipynb_checkpoints/Association_Rule_FP_Growth-Copy1-checkpoint.ipynb
Cross_Sell_Market_Basket_Analysis/groceries.csv
Time_Series_Analysis/.ipynb_checkpoints/Time_Series_Analysis-checkpoint.ipynb
Time_Series_Analysis/Index2018.csv
Time_Series_Analysis/Time_Series_Analysis.ipynb
Tenssorflow_2.0_Tutorials/ratings.csv
Tenssorflow_2.0_Tutorials/spam.csv
*.zip
*.jpg
Hands_Machine_Learning_book_Tutorials/datasets/housing/housing.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/housing.tgz
Hands_Machine_Learning_book_Tutorials/iris_tree.dot
Hands_Machine_Learning_book_Tutorials/iris_tree.png
Hands_Machine_Learning_book_Tutorials/.ipynb_checkpoints/Chapter_2_Classification-Copy1-checkpoint.ipynb
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_test_00.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_test_01.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_test_02.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_test_03.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_test_04.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_test_05.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_test_06.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_test_07.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_test_08.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_test_09.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_00.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_01.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_02.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_03.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_04.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_05.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_06.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_07.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_08.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_09.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_10.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_11.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_12.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_13.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_14.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_15.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_16.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_17.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_18.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_train_19.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_valid_00.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_valid_01.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_valid_02.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_valid_03.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_valid_04.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_valid_05.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_valid_06.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_valid_07.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_valid_08.csv
Hands_Machine_Learning_book_Tutorials/datasets/housing/my_valid_09.csv
Hands_Machine_Learning_book_Tutorials/my_data.tfrecord
Hands_Machine_Learning_book_Tutorials/my_keras_model.h5
Hands_Machine_Learning_book_Tutorials/my_logs/run_2020_08_23-17_53_05/train/events.out.tfevents.1598185385.JITENDRA.10304.226204.v2
Hands_Machine_Learning_book_Tutorials/my_logs/run_2020_08_23-17_53_05/train/events.out.tfevents.1598185386.JITENDRA.profile-empty
Hands_Machine_Learning_book_Tutorials/my_logs/run_2020_08_23-17_53_05/train/plugins/profile/2020_08_23_12_23_06/JITENDRA.input_pipeline.pb
Hands_Machine_Learning_book_Tutorials/my_logs/run_2020_08_23-17_53_05/train/plugins/profile/2020_08_23_12_23_06/JITENDRA.kernel_stats.pb
Hands_Machine_Learning_book_Tutorials/my_logs/run_2020_08_23-17_53_05/train/plugins/profile/2020_08_23_12_23_06/JITENDRA.memory_profile.json.gz
Hands_Machine_Learning_book_Tutorials/my_logs/run_2020_08_23-17_53_05/train/plugins/profile/2020_08_23_12_23_06/JITENDRA.overview_page.pb
Hands_Machine_Learning_book_Tutorials/my_logs/run_2020_08_23-17_53_05/train/plugins/profile/2020_08_23_12_23_06/JITENDRA.tensorflow_stats.pb
Hands_Machine_Learning_book_Tutorials/my_logs/run_2020_08_23-17_53_05/train/plugins/profile/2020_08_23_12_23_06/JITENDRA.trace.json.gz
Hands_Machine_Learning_book_Tutorials/my_logs/run_2020_08_23-17_53_05/train/plugins/profile/2020_08_23_12_23_06/JITENDRA.xplane.pb
Hands_Machine_Learning_book_Tutorials/my_logs/run_2020_08_23-17_53_05/validation/events.out.tfevents.1598185387.JITENDRA.10304.227182.v2
Hands_Machine_Learning_book_Tutorials/my_model_A.h5
Hands_Machine_Learning_book_Tutorials/my_model_with_a_custom_layer.h5
Hands_Machine_Learning_book_Tutorials/my_model_with_a_custom_loss.h5
Hands_Machine_Learning_book_Tutorials/my_model_with_a_custom_loss_class.h5
Hands_Machine_Learning_book_Tutorials/my_model_with_a_custom_loss_threshold_2.h5
Hands_Machine_Learning_book_Tutorials/my_model_with_a_custom_metric.h5
Hands_Machine_Learning_book_Tutorials/my_model_with_many_custom_parts.h5
Hackathon/Jobathon/sample_submission_QrCyCoT.csv
Hackathon/Jobathon/test_YCcRUnU.csv
Hackathon/Jobathon/train_Df64byy.csv
Hackathon/LTFS/sample_submission_ejm25Dc.csv
Hackathon/LTFS/Solution Approach.pdf
Hackathon/LTFS/submit_1.csv
Hackathon/LTFS/submit_2.csv
Hackathon/LTFS/submit_3.csv
Hackathon/LTFS/submit_4.csv
Hackathon/LTFS/submit_5.csv
Hackathon/LTFS/Test/test_bureau.xlsx
Hackathon/LTFS/Test/test_Data.xlsx
Hackathon/LTFS/Train/data_dict.xlsx
Hackathon/LTFS/Train/train_bureau.xlsx
Hackathon/LTFS/Train/train_Data.xlsx
